export HYP_ROOT="$(pwd)"
export TOOLCHAIN="$HYP_ROOT/buildroot-2021.02.8/output/host/bin/arm-buildroot-linux-uclibcgnueabihf-"
export VCSDIR="$HYP_ROOT/evoting-demonstrator/"
export CAKEDIR="$HYP_ROOT/hypervisor-cakeml/lib"

if test ! -z "$DOCKER_RUNNING"; then
# set defaults for docker
export HOLDIR="/var/HOL"
export CAKEMLDIR="/var/cakeml"
else
echo "Ensure to set HOLDIR and CAKEMLDIR environment variables."
fi

