root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_size = tab

[Holmakefile]
indent_size = tab

